.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.1);
 
}
.footer p{
    color:#5e5e5e;
    margin: 10px 0px;
    font-size: 0.9rem;
}

@media(max-width:680px){
    
    footer{
        justify-content: space-between;
        padding:0px 20px;
        text-align: center;
    }
}